<div class="bgimg-1">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav_item"><a [routerLink]="['/login']">Log in</a></li>
                <li class="nav_item"><a [routerLink]="['/register']">Sign up</a></li>
            </ul>
        </div>
    </nav>
    <div class="middle-content">
        <router-outlet></router-outlet>
    </div>
</div>